@{
    ViewData["Title"] = "Welcome to myPOS";
}

<div class="text-center">
    <h1 class="display-4">Welcome to myPOS</h1>
    <h2 class="display-2">Simple. Intuitive. Elegant.</h2>
    <img src="https://www.mypos.com/build/images/mypos_products_preview_bg.11e3a08d.png" alt="" />
</div>