<div class="text-center">
    <h1 class="display-4">Hello, @ViewBag.Username</h1>
    <h2 class="display-2">Your credit balance is: @ViewBag.Credits</h2>
    <img src="https://novavarna.net/wp-content/uploads/2020/02/myPOS-Copy-1280x720.jpg" alt="" />
</div>